p {
    font-family:Times New Roman;
    color:red;
}
  
<link rel="stylesheet" href="http://pasteup.guim.co.uk/0.0.5/css/fonts.pasteup.min.css">
h2 {
    font-family: "Guardian Egyptian Headline", Georgia, serif;
}
p {
    font-family: "Guardian Egyptian Text", Georgia, serif;
}

