body {
	max-width:40em;
}



a:link {
	text-decoration: none;
}



a:visited {
    color: #663366;
}


a:hover {
    color: #0000FF;
    text-decoration: underline;
}
element.style.ui-widget-header {
border: 1px solid #aaaaaa;
}