	<link rel="stylesheet" href="http://pasteup.guim.co.uk/0.0.5/css/fonts.pasteup.min.css">

h4 {
    font-family: "Guardian Egyptian Headline", Georgia, serif;
}

li {
    font-family: "Guardian Egyptian Text", Georgia, serif;
    }

ul {
        font-family: "Guardian Egyptian Text", Georgia, serif;
}

body {
        max-width:40em;
}
	
#hide {
        text-align:center;
        }
	
a:link {
        text-decoration: none;
		font-size: 30px;
}

a:visited {
    color: #663366;
}

a:hover {
    color: #0000FF;
    text-decoration: underline;
}

		
.ui-widget-header {
border: 1px solid #aaaaaa;
background: #FFFFFF;
color: #EDEDED;
font-weight: bold;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
        border: 1px solid #575757;
        background: #EDEDED;
        font-weight: normal;
        color: #555555;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {

        border: 1px solid #999999;
        background: #FFFFFF;
        font-weight: normal;
        color: #FFFFFF;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        float: left;
        padding: .2em 1em;
        text-decoration: none;

}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: .2em 1em;
	text-decoration: none;
}

.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 0em 1.0em;
	background: none;
}

#newsy {
        color:#D61D00
        }

#footbally {
        color:#008000
        }

#travely {
        color:#066ec9
        }
