<link rel="stylesheet" href="http://pasteup.guim.co.uk/0.0.5/css/fonts.pasteup.min.css">

h4 {
    font-family: "Guardian Egyptian Headline", Georgia, serif;
}
li {
    font-family: "Guardian Egyptian Text", Georgia, serif;
    font-size: 17px;
}

ul {
	font-family: "Guardian Egyptian Text", Georgia, serif;
}





body {
	max-width:40em;
}
#hide {
	text-align:center
	}

a:link {
        text-decoration: none;
}

a:visited {
    color: #663366;
}

a:hover {
    color: #0000FF;
    text-decoration: underline;
}
.ui-widget-header {
border: 1px solid #aaaaaa;
background: #EDEDED;
color: #EDEDED;
font-weight: bold;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #EDEDED url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
}
#newsy {
	color:#D61D00
	}
	
#footbally {
	color:#008000
	}
	
#travely {
	color:#066ec9
	}